<div>
    <header class="main-header">
        <a>
            <img src="assets/images/heraizen_logo.png" class="logo" />
        </a>
        <nav class="navbar navbar-fixed-top">
            <div class="container-fluid">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#"><p data-letters="MN"><font size="4px"> {{userName}} &nbsp;[ {{user.roles}} ]</font></p></a></li>
                    <li><a href=""><i class="fa fa-2x fa-bell" ></i></a></li>
                    <li><a href=""><i class="fa fa-2x fa-cogs" ></i></a></li>
                    <li><a href=""><i class="fa fa-2x fa-sign-out-alt" (click)="logOut()"></i></a></li>
                </ul>
            </div>

        </nav>
    </header>
</div>
